# Site settings
title: BootcampAI Documentation
description: Documentation for CGI Bootcamp AI Projects
baseurl: "/bootcamp_ai"
url: "https://leandrowcs.github.io"

# Build settings
markdown: kramdown
permalink: pretty

# Collections
collections:
  docs:
    output: true
    permalink: /:collection/:name

# Defaults
defaults:
  - scope:
      path: ""
      type: "docs"
    values:
      layout: "default"
  - scope:
      path: ""
    values:
      layout: "default"

# Navigation
header_pages:
  - index.md
  - app.md
  - docs.md

# Exclude from processing
exclude:
  - .git/
  - .gitignore
  - README.md
  - Gemfile
  - Gemfile.lock
  - vendor/

# Plugins
plugins:
  - jekyll-feed
  - jekyll-seo-tag
